<!DOCTYPE html>
<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <!--my style.css-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>
<body>  
  <div class="container"> <!-- Bootsrtap container starts -->
    {%include "navbar.html"%}
   
    <section class="row"> <!--Admin Sign in -->
      <div class="col-md-12">
        <h3>Sign In with Admin credentials</h3>
        {% if session['logged_in'] %}
        <p>You're logged in already as Admin!</p>
        {% else %}

      <form action="{{url_for('adminLogin')}}" method="POST">
        <div class="form-group row">
          <label for="Email" class="col-md-2 col-form-label col-form-label-lg">Email</label>
            <div class="col-md-10">
              <input type="text" name="email" placeholder="admin@admin.com">
            </div>
        </div>
        <div class="form-group row">
          <label for="Password" class="col-md-2 col-form-label col-form-label-lg">Password</label>
            <div class="col-md-10">
              <input type="password" name="password" id="pwd" placeholder="1234">
            </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <input type="submit" class="submit" name="submit" value="Submit">
          </div>
        </div>
      </form>
        {% endif %}
    </section> <!--Admin Sign in ends -->
    <br>
    <section class="row"><!-- GOOGLE PLUS SIGN IN BUTTON-->
        <div class="col-md-12" id="signInButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="943584101279-p4ab9f3mensnhvhlb3l9ij9ehvvev6id.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
    </section><!-- GOOGLE PLUS SIGN IN BUTTON ENDS-->

    <div id="result"></div>

    <script>
        function signInCallback(authResult) {
          if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              // Always include an `X-Requested-With` header in every AJAX request,
              // to protect against CSRF attacks.
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response.
                if (result) {
                    $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                       setTimeout(function() {
                        window.location.href = "/catalog";
                       }, 4000);
                        
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
              },
              processData: false,
              data: authResult['code']
            });
          } else {
            // There was an error.
          }
        }
    </script>

    <!--FACEBOOK SIGN IN -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
                appId      : '172902389930856',
                cookie     : true,  // enable cookies to allow the server to access 
                        // the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.2' // use version 2.2
              });
      };
    // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function sendTokenToServer() {
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{STATE}}',
          processData: false,
          data: access_token,
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>


<button>
         

          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
<a href='javascript:sendTokenToServer()'>Login with Facebook</a>

</fb:login-button>


        </button>
<!--END FACEBOOK SIGN IN -->

  </div> <!-- Bootstrap container div ends -->
</body>
</html>