<nav class="navbar navbar-expand-sm  fixed-top navbar-light bg-secondary" id="navbar">
  <a class="navbar-brand" href="{{url_for('homepage')}}">Catalog App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('homepage')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {%if ('username' not in session) %}
        <a class="btn btn-success" href="{{url_for('showLogin')}}" role="button">Log In </a>
        {% else %}
        <a class="btn btn-success" href="{{url_for('disconnect')}}" role="button">Log Out </a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>